{% extends 'base.html.twig' %}

{% block body %}

      <section class="py-5 overflow-hidden bg-primary" id="home" style="background-image:url(assets/img/gallery/backgroundHomepageImage.webp);background-position:center;background-size:cover;">
        <div class="container">
          <div class="row flex-center">
            <div class="col-md-5 col-lg-6 order-0 order-md-1 mt-8 mt-md-0"></div>
            <div class="col-md-7 col-lg-6 py-8 text-md-start text-center" style="text-align: center !important;">
              <h1 class="display-1 fs-md-5 fs-lg-6 fs-xl-8 text-light">Mort de faim?</h1>
              <h1 class="text-800 mb-5 fs-4">Trouvez le repos eternel avec</br> <span style="font-weight:bolder">Le Bistro des Macchabés</span></h1>
    
            </div>
          </div>
        </div>
      </section>

      <section class="py-4 overflow-hidden">

        <div class="container">
          <div class="row h-100">
            <div class="col-lg-7 mx-auto text-center mt-7 mb-5">
              <h5 class="SecondTitle fw-bold fs-3 fs-lg-5 lh-sm">Nos plats SANG sationnels !</h5>
            </div>
            <div class="col-12">
              <div class="carousel slide" id="carouselPopularItems" data-bs-touch="false" data-bs-interval="false">
                <div class="carousel-inner">
                  <div class="carousel-item active" data-bs-interval="10000">
                    <div class="row gx-3 h-100 align-items-center">
                      {% for food in foods %}
                        <div class="col-sm-6 col-md-4 col-xl mb-5 h-100">
                          <div class="card card-span h-100 rounded-3"><img class="img-fluid rounded-3 h-100" src="{{ asset('pictures/' ~ food.image) }}" alt="{{ food.name }}" />
                            <div class="card-body ps-0">
                              <h5 class="fw-bold text-1000 text-truncate mb-1">Cheese Burger</h5>
                              <span class="text-1000 fw-bold">{{ food.price }}€</span>
                            </div>
                          </div>
                        </div>
                      {% endfor %}
                </div>
                <button class="carousel-control-prev carousel-icon" type="button" data-bs-target="#carouselPopularItems" data-bs-slide="prev"><span class="carousel-control-prev-icon hover-top-shadow" aria-hidden="true"></span><span class="visually-hidden">Previous</span></button>
                <button class="carousel-control-next carousel-icon" type="button" data-bs-target="#carouselPopularItems" data-bs-slide="next"><span class="carousel-control-next-icon hover-top-shadow" aria-hidden="true"></span><span class="visually-hidden">Next </span></button>
              </div>
            </div>
          </div>
        </div>

        <div style="display: flex; justify-content: center"><a class="btn btn-lg btn-danger" href="{{ path('food_index') }}" role="button">VOIR TOUT</a></div>

      </section>
      <section class="py-8 overflow-hidden">

        <div class="container">
          <div class="row flex-center mb-6">
            <div class="col-lg-7">
              <h5 class="SecondTitle fw-bold fs-3 fs-lg-5 lh-sm text-center text-lg-start" style="text-align: center !important;">Rechercher par organes</h5>
            </div>
          </div>
          <div class="row flex-center">
            <div class="col-12">
              <div class="carousel slide" id="carouselSearchByFood" data-bs-touch="false" data-bs-interval="false">
                <div class="carousel-inner">
                  <div class="carousel-item active" data-bs-interval="10000">
                    <div class="row h-100 align-items-center">

                      {% for foodCategory in foodCategories %}
                        
                          <div class="col-sm-6 col-md-4 col-xl mb-5 h-100">
<a href="{{ path("food_index") }}">
                            <div class="card card-span h-100 rounded-circle"><img class="img-fluid rounded-circle h-100" src="{{ asset('pictures/' ~ foodCategory.image) }}" alt="{{ foodCategory.name }}" />
                              <div class="card-body ps-0">
                                <h5 class="text-center fw-bold text-1000 text-truncate mb-2">{{ foodCategory.name }}</h5>
                              </div>
                            </div>
                        </a>
                          </div>

                      {% endfor %}

                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>

      </section>


      <section>
        <div class="bg-holder" style="background-image:url(assets/img/gallery/zombie_and_momie.webp);background-position:center;background-size:cover;">
        </div>

        <div class="container">
          <div class="row justify-content-center">
            <div class="col-xxl-10">
              <div class="card card-span shadow-warning" style="border-radius: 35px;">
                <div class="chefSectionTitle">
                  <h2 class="SecondTitle fw-bold fs-3 fs-lg-5 lh-sm text-center text-lg-start">Nos chefs étoilés</h2c>
                </div>
                <div class="card-body">
                  <div class="row justify-content-evenly">
                    <div class="col-md-3">
                      <div class="d-flex d-md-block d-xl-flex justify-content-evenly justify-content-lg-between"><img class="imageCuisinier" src="{{ asset('assets/img/gallery/cuisinier1.webp') }}" width="90" alt="cuisinier1" />
                        <div class="d-flex d-lg-block d-xl-flex flex-center">
                          <h2 class="fw-bolder text-1000 mb-0 text-gradient">Igor<br class="d-none d-md-block" />Mummystein </h2>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3 hr-vertical">
                      <div class="d-flex d-md-block d-xl-flex justify-content-evenly justify-content-lg-between"><img class="imageCuisinier" src="{{ asset('assets/img/gallery/cuisinier2.webp') }}" width="87" height="87" alt="cuisinier1" />
                        <div class="d-flex d-lg-block d-xl-flex flex-center">
                          <h2 class="fw-bolder text-1000 mb-0 text-gradient">Mortimer<br class="d-none d-md-block" /> LeBoucher </h2>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3 hr-vertical">
                      <div class="d-flex d-md-block d-xl-flex justify-content-evenly justify-content-lg-between"><img class="imageCuisinier" src="{{ asset('assets/img/gallery/cuisinier4.webp') }}" width="90" height="90" alt="cuisinier1" />
                        <div class="d-flex d-lg-block d-xl-flex flex-center">
                          <h2 class="fw-bolder text-1000 mb-0 text-gradient">Bouf<br class="d-none d-md-block" /> Bizhar </h2>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row flex-center mt-md-8">
            <div class="col-lg-5 d-none d-lg-block" style="margin-bottom: -122px;"> 
              <img style="border-radius: 10px;"
                src="assets/img/gallery/menuHalloween.webp"
                alt="soiree_halloween_img" /></div>
            <div class="col-lg-5 mt-7 mt-md-0">
              <h2 class="SecondTitle text-primary">Découvrez nos soirée Halloweens</h2>
              <p style="color: ghostwhite;font-weight: 640;font-size: 1.1rem;}">
                Que vous soyez un zombie affamé, une momie en quête de saveurs anciennes ou un vampire assoiffé de sang, notre menu spécialisé saura vous ravir.
              <br class="d-none d-xl-block" /> Avec une ambiance lugubre, une musique ensorcelante et des surprises terrifiantes, notre soirée apéro Halloween promet d'être une expérience inoubliable.
              </p>
              <p class="EvenWeeklyText"> Tous les
                <span class="DayOfEventStyle"> Mercredis</span> &
                <span class="DayOfEventStyle"> Dimanches</span>
              </p>
            </div>
          </div>
        </div>
      </section>

      <section class="pb-5 pt-8">

        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="card card-span mb-3 shadow-lg">
                <div class="card-body py-0">
                  <div class="row justify-content-center">
                    <div class="col-md-5 col-xl-7 col-xxl-8 g-0 order-0 order-md-1"><img style="margin-top:30px;" class="img-fluid w-75 fit-cover h-75 rounded-top rounded-md-end rounded-md-top-0" src="assets/img/gallery/cerveau.webp" alt="cerveau" /></div>
                    <div class="col-md-7 col-xl-5 col-xxl-4 p-4 p-lg-5">
                      <h2 class="card-title mt-xl-5 mb-4">Nos meilleurs Ventes</h2>
                      <p class="fs-1">Découvrez notre délice le plus recherché : le cerveau humain sauté à la perfection. Préparé avec soin par nos chefs étoilés, chaque morceau de cerveau est soigneusement nettoyé et assaisonné avec des herbes fraîches et des épices exotiques. Lentement sauté dans du beurre frais jusqu'à obtenir une texture tendre et fondante, chaque bouchée offre une explosion de saveurs riches et décadentes.</p>
                      <div class="d-grid bottom-0"><a class="btn btn-lg btn-primary mt-xl-6" href="tel:0782465607">Commandez au 07 82 46 57 07<i class="fas fa-chevron-right ms-2"></i></a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </section>

      <section class="py-0">

        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="card card-span mb-3 shadow-lg">
                <div class="card-body py-0">
                  <div class="row justify-content-center">
                    <div class="col-md-5 col-xl-7 col-xxl-8 g-0 order-md-0"><img class="img-fluid w-100 fit-cover h-100 rounded-top rounded-md-start rounded-md-top-0" src="assets/img/gallery/saint-valentin.webp" alt="saint-valentin" /></div>
                    <div class="col-md-7 col-xl-5 col-xxl-4 p-4 p-lg-5">
                      <h1 class="card-title mt-xl-5 mb-4">Celébrez votre Saint-Valentin <span class="text-primary">à nos côtés</span></h1>
                      <p class="fs-1">Plongez dans une romance mortelle lors de notre soirée Saint-Valentin spécialement concoctée pour les âmes damnées, où les zombies et les momies trouveront leur amour éternel.</p>
                      <div class="d-grid bottom-0">Reserver par mail : <a class="btn btn-lg btn-primary mt-xl-6" href="mailto:macchabe@gmail.com?subject=Réservation%20de%20Saint-Valentin&body=Bonjour,%0A%0AJe%20souhaiterais%20convenir%20d'une%20réservation%20de%20Soirée%20Saint-Valentin...">macchabe@gmail.com</a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </section>

      <section class="pt-5">

        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="card card-span mb-3 shadow-lg">
                <div class="card-body py-0">
                  <div class="row justify-content-center">
                    <div class="col-md-5 col-xl-7 col-xxl-8 g-0 order-0 order-md-1"><img class="img-fluid w-100 fit-cover h-100 rounded-top rounded-md-end rounded-md-top-0" src="assets/img/gallery/poumon.webp" alt="salade_poumon" /></div>
                    <div class="col-md-7 col-xl-5 col-xxl-4 p-4 p-lg-5">
                      <h1 class="card-title mt-xl-5 mb-4">Vous manger leger? Testez nos <span class="text-primary">salades de poumons</span></h1>
                      <p class="fs-1">Plongez dans une expérience culinaire unique avec notre salade de poumons bio, où la fraîcheur des légumes croquants rencontre la texture tendre et savoureuse des poumons fraîchement préparés.</p>
                      <div class="d-grid bottom-0"><a class="btn btn-lg btn-primary mt-xl-6" href="#!">Consulter<i class="fas fa-chevron-right ms-2"></i></a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </section>

      <section class="py-0 pt-7 bg-1000" style="background-image:url(assets/img/gallery/footer_bg.webp);background-position:center;background-size:cover;">
        <div class="container">
          <hr class="text-900" />
          <div class="row">
            <div class="col-6 col-md-4 col-lg-3 col-xxl-2 mb-3">
              <h5 class="lh-lg fw-bold text-center">A Propos</h5>
              <div style="display: flex;justify-content: center;">
                <ul style="display: flex;justify-content: center;flex-direction: column;" class="list-unstyled mb-md-4 mb-lg-0">
                  <li class="lh-lg"><a class="text-200 text-decoration-none" href="#!">Depuis des siècles, notre restaurant est le repaire secret des âmes égarées, où les zombies et les momies trouvent refuge et festin. Une oasis de saveurs macabres et de délices lugubres, où chaque plat raconte une histoire d'amour entre le monde des vivants et celui des morts.</a></li>
                </ul>
              </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3 col-xxl-2 col-lg-3 mb-3">
              <h5 class="lh-lg fw-bold text-center">CONTACT</h5>
              <ul class="list-unstyled mb-md-4 mb-lg-0" style="width: 100%;display: flex;flex-direction: column;align-items: center;">
                <li class="lh-lg"><a class="text-200 text-decoration-none" href="#!">Contact</a></li>
                <li class="lh-lg"><a class="text-200 text-decoration-none" href="#!">Nos partenaires</a></li>
                <li class="lh-lg"><a class="text-200 text-decoration-none" href="#!">Rejoindre nos équipes</a></li>
              </ul>
            </div>
            <div class="col-6 col-md-4 col-lg-3 col-xxl-2 mb-3">
              <h5 class="lh-lg fw-bold text-center">NOS RESEAUX SOCIAUX</h5>
              <div style="display:flex;justify-content: center;align-items: center;">
                {% include 'home/components/social_media_item.html.twig' %}
              </div>
            </div>
            </div>
          </div>
          <hr class="border border-800" />
        </div>

      </section>
      
    <script src="vendors/@popperjs/popper.min.js"></script>
    <script src="vendors/bootstrap/bootstrap.min.js"></script>
    <script src="vendors/is/is.min.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
    <script src="vendors/fontawesome/all.min.js"></script>
    <script src="assets/js/theme.js"></script>

    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&amp;display=swap" rel="stylesheet">
{% endblock %}

{% block javascripts %}{% endblock %}
