<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{% block title %}Le Bistro des Macchabés{% endblock %}</title>
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('assets/img/gallery/logo2.svg') }}">
        <link rel="stylesheet" href="{{ asset('vendors/bootstrap/bootstrap.min.js') }}">
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('socialMedia/social_media.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('semantic/semantic.min.css') }}">
            <link rel="stylesheet" href="{{ asset('css/homepage.css') }}">
            <script
                src="https://code.jquery.com/jquery-3.1.1.min.js"
                integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
                crossorigin="anonymous"></script>
                <script src="{{ asset('semantic/semantic.min.js') }}"></script>
        {% endblock %}




    <link rel="manifest" href="assets/img/favicons/manifest.json">
    <meta name="msapplication-TileImage" content="assets/img/favicons/mstile-150x150.png">
    <meta name="theme-color" content="#ffffff">

    <link href="{{ asset('assets/css/theme.css') }}" rel="stylesheet" />
    <!-- ===============================================-->
    <!--    Template
    <!-- ===============================================-->
    </head>
    <body>
        <div class="ui top demo sidebar ui segment" style="">
            <div class="ui center aligned page grid">
                <div class="one column row">
                <div class="sixteen wide column">
                    <h3 class="ourRestaurants ui header">Nos restaurants</h3>
                </div>
                </div>
                <div class="three column divided row">
                <div class="column">
                    <i class="location arrow icon"></i>
                    <a href="https://maps.app.goo.gl/VeYoi9PJX3yEViAWA" target="_blank">
                    Rue de Fourcy, Paris</a>
                </div>
                <div class="column">
                    <i class="location arrow icon"></i>
                    <a href="https://maps.app.goo.gl/RPvUmQV9YKN69Ju29" target="_blank">
                    Cours Lafayette, Lyon</a>
                </div>
                <div class="column">
                    <i class="location arrow icon"></i>
                    <a href="https://maps.app.goo.gl/VeYoi9PJX3yEViAWA" target="_blank">
                    Place de la Joliette, Marseille</a>
                </div>
                </div>
            </div>
        </div>

        <div class="ui left demo sidebar vertical inverted menu" style="color: white;">
            <div style="background:rgba(0,0,0,0.5); height:100%">
                <div style="padding-top: 150px; display: flex;justify-content: center;align-items: center;flex-direction: column;">
                    <h3 class="titleMenuOfTheWeek">Plat de la Semaine <span style="font-size: larger;color: #1a4d29;font-weight: 721;">Zombie</span></h3>
                    <img src="{{ asset('images/platcerveau-removebg-preview.webp') }}" alt="Votre Image" style="width: 150px; height: 150px;">
                </div>
                <div style="text-align: center; padding:10px">
                    <h3 style="color: white;">Cerveaux périmées</h3>
                    <p>Délicieuse soupe de cerveaux humains mijotés avec des épices et herbes fraîches, accompagné d'ongles sautés frais
                    </p>
                    <br>
                    <br>
                </div>
            </div>
        </div>
        <div class="ui right demo sidebar vertical inverted menu"  style="color: white;">
            <div style="background:rgba(0,0,0,0.5); height:100%">
                <div style="padding-top: 150px;display: flex;justify-content: center;align-items: center;flex-direction: column;">
                    <h3 class="titleMenuOfTheWeek">Plat de la Semaine <span style="font-weight: 800;font-size: larger;color: #bf8744;">Momie</span></h3>
                    <img src="{{ asset('images/brochette_doigts.webp') }}" alt="Votre Image" style="border-radius: 50%; width: 150px; height: 150px;">
                </div>
                <div style="text-align: center; padding: 10px;">
                    <h3 style="color: white;">Brochette de Doigts Émincés Épicés</h3>
                    <p>Nos brochettes de doigts émincés épicés sont préparées avec soin à partir de doigts humains fraîchement coupés.
                    <br>
                    <br></p>
                </div>
            </div>

        </div>

        {# <div class="ui bottom demo inverted nine item labeled icon sidebar menu" style="background-color:white;">
            <a class="item ItemMenu" style="color: #9a844a;">
                <i style="width: auto;" class="home icon ico"></i>
                Accueil
            </a>
            <a class="item ItemMenu" style="color: #9a844a;">
                <i style="width: auto;" class="calendar alternate outline icon ico"></i>
                Réservez
            </a>
            <a class="item ItemMenu" style="color: #9a844a;">
                <i style="width: auto;" class="utensil spoon icon ico"></i>
                Nos Menus
            </a>
            <a class="item ItemMenu" style="color: #9a844a">l
                <i style="width: auto;" class="coffee icon ico"></i>
                Nos chefs
            </a>
            <a class="item ItemMenu" style="color: #9a844a;">
                <i style="width: auto;" class="mail icon ico"></i>
                Nous contacter
            </a>
            <a class="item ItemMenu" style="color: #9a844a  ;">
                <i style="width: auto;" class="settings icon ico"></i>
                Settings
            </a>
        </div> #}

        <div class="pusher">
            <!-- Site content !-->
               <main class="main" id="top">
                    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" data-navbar-on-scroll="data-navbar-on-scroll">
                        <div class="container"><a class="navbar-brand d-inline-flex" href="{{ path('home_index') }}"><img width="30px" class="d-inline-block" src="{{ asset('assets/img/gallery/logo2.svg') }}" alt="logo" /><span class="text-1000 fs-3 fw-bold ms-2 text-gradient">Le Bistro des Macchabées</span></a>
                        <div class="HeaderTopMenuBtn collapse navbar-collapse border-top border-lg-0 my-2 mt-lg-0" id="navbarSupportedContent">
                        <div id="ecoindex-badge" style="z-index:1;margin-left: 20px;}"></div>
                        <script src="https://cdn.jsdelivr.net/gh/cnumr/ecoindex_badge@3/assets/js/ecoindex-badge.js" defer></script>    
                        
                            <div class="d-flex mt-4 mt-lg-0 ms-lg-auto ms-xl-0">
                                <button class="HeaderBtnMenu btn btn-white shadow-warning text-warning" onclick="toggleSidebar()"> 
                                    <svg xmlns="http://www.w3.org/2000/svg" style="color:yellow;" width="25" height="25" viewBox="0 0 448 512"><path d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"/></svg>
                                </button>
                            </div>
                        </div>
                        </div>
                    </nav>
             {% block body %}
            {% endblock %}
            </main>
        </div>

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}

        <script>
            function toggleSidebar() {
                $('.demo.sidebar')
                    .sidebar('setting', 'transition', 'overlay')
                    .sidebar('toggle');
                }
        </script>
    </body>
</html>
