<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome! Oissuya{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('socialMedia/social_media.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('semantic/semantic.min.css') }}">
            <script
                src="https://code.jquery.com/jquery-3.1.1.min.js"
                integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
                crossorigin="anonymous"></script>
                <script src="{{ asset('semantic/semantic.min.js') }}"></script>
        {% endblock %}
    </head>
    <body>
        <div class="ui top demo sidebar ui segment" style="">
            <div class="ui center aligned page grid">
                <div class="one column row">
                <div class="sixteen wide column">
                    <h3 class="ui header">Nos restaurants</h3>
                </div>
                </div>
                <div class="three column divided row">
                <div class="column">
                    <i class="location arrow icon"></i>
                    <a href="https://maps.app.goo.gl/VeYoi9PJX3yEViAWA" target="_blank">
                    Rue de Fourcy, Paris</a>
                </div>
                <div class="column">
                    <i class="location arrow icon"></i>
                    <a href="https://maps.app.goo.gl/RPvUmQV9YKN69Ju29" target="_blank">
                    Cours Lafayette, Lyon</a>
                </div>
                <div class="column">
                    <i class="location arrow icon"></i>
                    <a href="https://maps.app.goo.gl/VeYoi9PJX3yEViAWA" target="_blank">
                    Place de la Joliette, Marseille</a>
                </div>
                </div>
            </div>
        </div>

        <div class="ui left demo sidebar vertical inverted menu" style="color: white;background: linear-gradient(183deg, rgba(2,0,36,1) 0%, rgba(28,56,21,1) 57%, rgba(98,124,98,1) 100%); background-image: url('{{ asset('images/zombie_user.webp') }}'); background-size: cover; background-position: center; background-repeat: no-repeat;">
            <div style="background:rgba(0,0,0,0.5); height:100%">
                <div style="padding-top: 150px; display: flex;justify-content: center;align-items: center;flex-direction: column;">
                    <h3>Plat de la Semaine <span style="font-size: larger;color: #438958;font-weight: 721;">Zombie</span></h3>
                    <img src="{{ asset('images/platcerveau-removebg-preview.webp') }}" alt="Votre Image" style="width: 150px; height: 150px;">
                </div>
                <div style="text-align: center; padding:10px">
                    <h3>Cerveaux périmées</h3>
                    <p>Délicieuse soupe de cerveaux humains mijotés avec des épices et herbes fraîches, accompagné d'ongles sautés frais
                    </p>
                    <br>
                    <br>
                </div>
            </div>
        </div>
        <div class="ui right demo sidebar vertical inverted menu"  style="color: white;background: linear-gradient(194deg, rgba(2,0,36,1) 0%, rgba(78,79,28,1) 58%, rgba(129,111,32,1) 74%); background-image: url('{{ asset('images/momie_user.webp') }}'); background-size: cover; background-position: center; background-repeat: no-repeat;">
            <div style="background:rgba(0,0,0,0.5); height:100%">
                <div style="padding-top: 150px;display: flex;justify-content: center;align-items: center;flex-direction: column;">
                    <h3>Plat de la Semaine <span style="font-weight: 800;font-size: larger;color: #bf8744;">Momie</span></h3>
                    <img src="{{ asset('images/brochette_doigts.webp') }}" alt="Votre Image" style="border-radius: 50%; width: 150px; height: 150px;">
                </div>
                <div style="text-align: center; padding: 10px;">
                    <h3>Brochette de Doigts Émincés Épicés</h3>
                    <p>Nos brochettes de doigts émincés épicés sont préparées avec soin à partir de doigts humains fraîchement coupés.
                    <br>
                    <br></p>
                </div>
            </div>

        </div>

        <div class="ui bottom demo inverted nine item labeled icon sidebar menu" style="background-color:white;">
            <a class="item" style="color: black;">
                <i class="home icon"></i>
                Accueil
            </a>
            <a class="item" style="color: black;">
                <i class="calendar alternate outline icon"></i>
                Réservez
            </a>
            <a class="item" style="color: black;">
                <i class="utensil spoon icon"></i>
                Nos Menus
            </a>
            <a class="item" style="color: black;">
                <i class="coffee icon"></i>
                Nos chefs
            </a>
            <a class="item" style="color: black;">
                <i class="mail icon"></i>
                Nous contacter
            </a>
            <a class="item" style="color: black;">
                <i class="settings icon"></i>
                Settings
            </a>
        </div>

        <div class="pusher">
            <button onclick="toggleSidebar()" style="position: fixed; top:50%; left:50%">Ouvrir le menu</button>
            <!-- Site content !-->
             {% block body %}{% endblock %}
            {% include 'home/components/social_media_item.html.twig' %}
        </div>

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
        <script type="application/javascript">
            (function(w,d,s,o,f,js,fjs){w[o]=w[o]||function(){(w[o].q=w[o].q||[]).push(arguments);};(js=d.createElement(s)),(fjs=d.getElementsByTagName(s)[0]);js.id=o;js.src=f;js.async=1;js.referrerPolicy = "origin";fjs.parentNode.insertBefore(js,fjs);})(window,document,"script","copilot","https://script.copilot.live/v1/copilot.min.js?tkn=cat-9bx29oba");
            copilot("init",{});
        </script>
        <script>
            function toggleSidebar() {
                $('.demo.sidebar')
                    .sidebar('setting', 'transition', 'overlay')
                    .sidebar('toggle');
                }
        </script>
    </body>
</html>
